opencv-python
imageio
imageio[ffmpeg]
xatlas
tqdm
scipy
pymeshlab
tensorboardX
rich
torch_ema
dearpygui
transformers
diffusers==0.15.0
accelerate
trimesh
pyrender
easydict
yacs
fvcore
# pyopengl==3.1.4
pyopengl
iopath
ninja
mediapipe
timm
networkx
git+https://github.com/NVlabs/nvdiffrast.git
